{% extends "base4.html"%}

{% block content %}
<br/> <br/>
<center>
<div class="col-md-4">
        <div class="card mb-2">
            
            <div class="card-body">
                <h5 class="card-title">{{ projects.title }}</h5>
                <p class="card-text">Description:{{ projects.description}}</p>
				 <p class="card-text">Technology used: {{ projects.technology}}</p>
            </div>
        </div>
    </div>
	<br/>
	   <a href="{% url 'view'%}" class="btn btn-success">Go back</a>
</center>
{% endblock %}