{% extends "base4.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
   <br/><br/>
   <center>
    {% for project in projects %}
   <div class="col-md-4">
        <div class="card mb-2">
            
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.short_desc }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
	<br/>
	   <a href="{% url 'logSuccess'%}" class="btn btn-success">Go back to home page</a>
	   </center>
{% endblock %}